1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
Answer:

* : expression

'hello' : values

-87.8 : values

- : expression

/ : expression
+ : expression
6 : values

2. What is the difference between string and variable?

Answer:

- string is ordered collection of characters in single, double or tripple quotes. 
- variables are containers for storing values like numbers, strings, lists, tuples etc.

In [1]:
# e.g. 
a = 'Shivanand'
# a : variable
# 'Shivanand' : string

3. Describe three different data types.

Answer:

- Numerical: integer, float, complex
- text: string
- sequence: list, tuple, set, frozenset
- collection: dictionary

In [3]:
# - integer: 0 to 9, positive and negative whole numbers
a = 9
type(a)

int

In [4]:
# - float: all positive and negative numbers with decimal point
b = -2.3
type(b)

float

In [6]:
# - complex: numbers having real and imaginary part
c = 1 + 3j
type(c)

complex

In [7]:
# string
d = 'python'
type(d)

str

In [9]:
# list
lst = ['datascience',1,2.2,[3,4]]
type(lst)

list

In [10]:
# tuple
t = ('datascience',1,2.2,[3,4])
type(t)

tuple

In [12]:
# set
s = {'datascience',1,2.2,3,4}
type(s)

set

In [13]:
# dictionary
d = {'course':'datascience','duration':'12 months'}
type(d)

dict

4. What is an expression made up of? What do all expressions do?

Answer:

 expressions are values like *,-,+,/, >,<,= and, or, not

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

- statements do something and consists of expressions 
- spam = 10, is expression
- print(spam) - this is statement

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans: 23

7. What should the values of the following two terms be?

Ans: answer will be same for both
    'spam' + 'spamspam' = 'spamspamspam'
'spam' * 3 = 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Answer:
As per rules of defining variables, 
- we cannot start variable with numbers 
- we can use any letters a-z, A-Z, so eggs is valid variable name

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [21]:
# we have to use type casting to get the integer, floating-point number, or string version of a value
# e.g.
a = 4.5
print('integer of a is: ',int(a))
print('string of a is: ',str(a))
print('float of 4 is: ', float(4))

integer of a is:  4
string of a is:  4.5
float of 4 is:  4.0

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Answer: we can not concatenate string with integer

In [23]:
# to fix this we can use string of 99
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'